* {
	
}
h1,
h2 {
	
}

h1 {
	margin: 0;display: flex;justify-content: center;
	
}

p {
	display: flex;
	justify-content: center;
	
	border-bottom: 1px solid grey;
}

h5 {
	text-decoration: underline;
}
.about-main {
	
}

.team-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
.team {
	
}

.team-liks {
	padding: 20px;
	/* grid-area: second; */
}

a {
	color: tomato;
}

.gitlogo {
	position: relative;
	width: 40px;
	transition: 0.5s;
}

.gitlogo:hover {
	transform: scale(1.1);
}