.Navbar {
  padding: 1rem;text-align: left; background-color: #FA2201;
}
nav { display: flex; }
.Navbar a.link {
  padding: 0 0.8rem; display: inline-block;font-size: 1.2rem;font-weight: bold;line-height: 50px;
  text-decoration: none; color: #FFF;
}
.Navbar a.logo {
  padding: 0 0.5rem;display: inline-block
}