.breadcrumb {
  margin: 1rem 0 !important;
}

.form__video__comment {
 margin: 1rem 0;
}
.form__video__comment .MuiFormControl-root {
  margin: 0.4rem;  
}
.form__video__comment .MuiButton-root {
  margin: 0.4rem;  
}